/algoritmoc++ConFallas
.Rproj.user

limbo/CoalicionGM/.vscode/settings.json

.vscode/

Server Censei/.Rhistory

RegresionGaussiana/.Rhistory

RegresionGaussiana/.RData

Server Censei/.RData

AlgoritmoC\+\+/.vs/
