/algoritmoc++ConFallas
.Rproj.user

limbo/CoalicionGM/.vscode/settings.json

.vscode/

Server Censei/.Rhistory

RegresionGaussiana/.Rhistory

RegresionGaussiana/.RData

Server Censei/.RData

AlgoritmoC\+\+/.vs/

Datos Votacion RH0941234/.Rhistory

Datos Votacion RH0941234/.RData

VotesGenerator/out/

VotesGenerator/.vs/

brute_force_algorithm/.vs/

brute_force_algorithm/out/
